/node_modules/
/build/

node_modules

#Buidler files
cache
artifacts
coverage
coverage.json
deployed.txt
deployed_all.json
2_deploy_factory.js
2_deploy_contracts.js
2_deploy_farm_contracts.js
deploy-config.js
truffle-config.js
/scripts/
/docs/

#Envs
.env

#Scripts
/scripts/encode-output.json

#VSCode 
.vscode/settings.json